@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-in {
    animation-name: fade-in;
    animation-duration: .4s;
  }
  .fade-out {
    animation-name: fade-out;
    animation-duration: .4s;
  }

  body,
  html {
    @apply bg-gray-900 w-full h-full text-gray-50;
    background-image: url('./assets/images/sahara-night.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  input:invalid {
    background: red;
  }
  .App,
  #root {
    height: 100%;
    font-family: Monteserrat, 'sans-serif';
    font-weight: 500;
  }
  .bg-image {
    /* darken the background image */
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    min-height: 100vh;
  }
  .transparent {
    background: rgba(0, 0, 0, 0.5);
  }

  .badge {
    @apply group-hover:bg-blue-200 group-hover:text-gray-900 p-1 m-1 bg-gray-600 text-sm rounded truncate;
  }

  .small-text {
    @apply text-xs uppercase;
  }

  .small-link {
    @apply  underline text-gray-50 text-xs opacity-50 cursor-pointer tracking-wide;
  }

  .btn {
    @apply border-2 px-6 py-2  mx-auto block transition-colors duration-300 cursor-pointer;
  }
  .btn-blue {
    @apply btn border-blue-400 hover:bg-blue-400 hover:text-black;
  }
  .btn-red {
    @apply btn border-red-400 hover:bg-red-400 hover:text-black;
  }

  .form-input {
    @apply outline-none block border-b-2 border-blue-400 bg-transparent p-2 text-white w-full;
  }

  .center-with-flex {
    @apply flex justify-center items-center;
  }

  .card {
    @apply p-4 justify-center rounded shadow w-80 h-32 transparent transition-colors duration-300;
  }

  .project-details-field {
    @apply text-gray-50 px-3;
  }
  .project-details-label {
    @apply text-sm  text-blue-300 capitalize px-2;
  }
  .project-details-input {
    @apply block bg-transparent transition-colors duration-300 hover:bg-gray-900 rounded w-full p-2 outline-none;
  }
  .navbar {
    @apply fixed w-full lg:w-14 h-12 lg:h-full bg-gradient-to-r lg:bg-gradient-to-b  from-gray-900 to-gray-400 py-2 flex items-center lg:flex-col z-10;
  }
  .navbar-link {
    @apply rounded mx-auto my-2 w-12 h-12 center-with-flex cursor-pointer;
  }
  .navbar-icon {
    @apply w-5/6 text-gray-200 text-opacity-50 hover:text-blue-400;
  }

  #project-details-left {
    height: max-content;
  }
  .plus {
    position: fixed;
    left: 95%;
    bottom: 1.5rem;
  }

  .loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  
  /*
    Set the color of the icon
  */
  svg#loading path,
  svg#loading rect{
    fill: rgba(96, 165, 250, var(--tw-bg-opacity));
  }
  
  .hint {
    @apply text-xs text-gray-200;
  }
  .hint::before {
    content: 'Hint: ';
    font-weight: bold;
  }
  .auth-link {
    @apply px-2 underline text-sm text-gray-100 hover:text-gray-300;
  }
}
