@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
  @apply basic style
  @apply basic style on hover

  @apply basic style on dark mode
  @apply basic style on dark mode and hover
*/

@layer base {
  body,
  html {
    min-height: 100vh;
    height: min-content;
    width: 100%;
    @apply bg-gray-50 text-gray-900;
    @apply dark:bg-gray-900 dark:text-gray-50;
  }

  h1 {
    @apply font-semibold text-gray-900;
    @apply dark:text-gray-50;
  }
  h2 {
    @apply text-gray-900;
    @apply dark:text-gray-50;
  }
  h3 {
    @apply text-gray-500 font-medium text-sm;
    @apply dark:text-gray-400;
  }
  label,
  span {
    @apply font-bold capitalize text-xs py-2;
  }
  input,
  textarea {
    @apply block my-2 p-2 w-full;
    @apply rounded-lg outline-none;
    @apply bg-transparent border-2 border-gray-200;
    @apply dark:border-transparent dark:bg-gray-700; 
  }
  input:invalid {
    border-color: #f87171;
  }
  input::placeholder {
    @apply text-sm;
  }
  a {
    @apply text-gray-500 underline text-sm px-1;
    @apply hover:text-gray-700;

    @apply dark:text-gray-300;
    @apply dark:hover:text-gray-100;
  }
  .App,
  #root {
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
  }

  #project-details-left {
    height: max-content;
  }

  svg {
    @apply w-6 h-6 inline-block mx-2;
  }

  /*
    Set the color of the icon
  */
  svg#loading path,
  svg#loading rect {
    fill: rgba(96, 165, 250, var(--tw-bg-opacity));
  }
}

@layer utilities {
  .hint {
    @apply text-xs text-gray-600;

    @apply dark:text-gray-400;
  }
  .hint::before {
    content: "Hint: ";
    font-weight: bold;
  }
  .input-with-bottom {
    /* style inherited from base style, remove only unecessary */
    @apply border-t-0 border-l-0 border-r-0 rounded-none;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .fade-in {
    animation-name: fade-in;
    animation-duration: 0.4s;
  }
  .fade-out {
    animation-name: fade-out;
    animation-duration: 0.4s;
  }
  .input-wrapper {
    @apply px-3 py-2 text-gray-700;
    @apply dark:text-gray-50;
  }
}

@layer components {
  .card {
    @apply p-4 justify-center bg-white rounded shadow h-32 transition-colors duration-300;
    @apply hover:bg-blue-100;
    @apply dark:bg-gray-800 dark:text-gray-50;
    @apply dark:hover:bg-gray-700;
  }

  .badge {
    @apply p-1 m-1 text-sm rounded truncate bg-blue-400 text-white;
    @apply dark:bg-yellow-400 dark:text-gray-900;
  }
  .btn {
    @apply rounded-lg border-2 px-6 py-2  mx-auto block transition-colors duration-300 cursor-pointer;
  }
  .btn-blue {
    @apply btn border-blue-400;
    @apply hover:bg-blue-400 hover:text-black;
  }
  .btn-red {
    @apply btn border-red-400;
    @apply hover:bg-red-400 hover:text-black;
  }
  .plus {
    position: fixed;
    left: 95%;
    bottom: 1.5rem;
  }
  .navbar {
    @apply fixed w-full lg:w-14 h-12 lg:h-full py-2 flex items-center lg:flex-col z-10;
  }
  .navbar-link {
    @apply rounded mx-auto my-2 w-12 h-12 flex-center cursor-pointer;
  }
  .navbar-icon {
    @apply w-5/6 text-gray-700 dark:text-gray-300 hover:text-blue-400;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
