@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
  @apply basic style
  @apply basic style on hover

  @apply basic style on dark mode
  @apply basic style on dark mode and hover
*/

@layer base {
  body,
  html {
    @apply bg-gray-50 text-gray-900;
    @apply dark:bg-gray-900 dark:text-gray-50;
  }

  h1 {
    @apply font-semibold text-gray-900;
    @apply dark:text-gray-50;
  }
  h2 {
    @apply text-gray-900;
    @apply dark:text-gray-50;
  }
  h3 {
    @apply text-gray-500 font-medium text-sm;
    @apply dark:text-gray-400;
  }
  label,
  span {
    @apply font-bold capitalize text-xs py-2;
  }
  input,
  textarea {
    @apply block my-2 p-2 w-full;
    @apply rounded-lg outline-none;
    @apply bg-transparent border-2 border-gray-200;
    @apply dark:border-transparent dark:bg-gray-700;
  }
  input::placeholder {
    @apply text-sm;
  }
  a {
    @apply text-gray-500 underline text-sm px-1;
    @apply hover:text-gray-700;

    @apply dark:text-gray-300;
    @apply dark:hover:text-gray-100;
  }
  svg {
    @apply w-6 h-6 inline-block mx-2;
  }
}

@layer utilities {
  .hint {
    @apply text-xs text-gray-600;

    @apply dark:text-gray-400;
  }
  .input-with-bottom {
    /* style inherited from base style, remove only unecessary */
    @apply border-t-0 border-l-0 border-r-0 rounded-none;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .input-wrapper {
    @apply px-3 py-2 text-gray-700;
    @apply dark:text-gray-50;
  }
}

@layer components {
  .card {
    @apply p-4 justify-center bg-white rounded shadow h-32 transition-colors duration-300;
    @apply hover:bg-blue-100;
    @apply dark:bg-gray-800 dark:text-gray-50;
    @apply dark:hover:bg-gray-700;
  }

   /* blue text that turn yellow on darkmode */
  .title {
    @apply text-blue-400 dark:text-yellow-400;
  }

   /* white background with shadow that turn gray on dark mode */
  .ground {
    @apply bg-white py-4 dark:bg-gray-800;
  } 

   /* little badge */
  .badge {
    @apply p-1 m-1 text-sm rounded truncate bg-blue-400 text-white;
    @apply dark:bg-yellow-400 dark:text-gray-900;
  }

   /* rounded border button with custom margin and padding */
  .btn {
    @apply rounded-lg border-2 px-6 py-2  mx-auto block transition-colors duration-300 cursor-pointer;
  }

   /* blue bordered button */
  .btn-blue {
    @apply btn border-blue-400;
    @apply hover:bg-blue-400 hover:text-black;
  }

   /* red bordered button */
  .btn-red {
    @apply btn border-red-400;
    @apply hover:bg-red-400 hover:text-black;
  }
  
  .navbar {
    @apply fixed w-full lg:w-14 h-12 lg:h-full py-2 flex items-center lg:flex-col z-10;
  }
  .navbar-link {
    @apply rounded mx-auto my-2 w-12 h-12 flex-center cursor-pointer;
  }
  .navbar-icon {
    @apply w-5/6 text-gray-700 dark:text-gray-300 hover:text-blue-400;
  }
}
