/* 
Use this file to override some css style which does not require rebuilding the idea
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

html,
body {
  min-height: 100vh;
  height: min-content;
  width: 100%;
}
input:invalid {
  border-color: #f87171;
}
.App,
#root {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

#idea-details-left {
  height: max-content;
}

/*
    Set the color of the icon
  */
svg#loading path,
svg#loading rect {
  fill: rgba(96, 165, 250, var(--tw-bg-opacity));
}
.hint::before {
  content: "Hint: ";
  font-weight: bold;
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 0.4s;
}
.fade-out {
  animation-name: fade-out;
  animation-duration: 0.4s;
}
.plus {
  position: fixed;
  right: 5%;
  bottom: 1.5rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#landing-page {
  background-image: url('./assets/images/landing-page.jpg');
  background-size: cover;

  position: relative;
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .5);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}